.diemonic_youtube_viewProgressContainer {
    height: 36px; width: 88px;
}

.diemonic_youtube_viewProgressContainerWithMargin {
    height: 36px; width: 88px; margin: 13px;
}

.diemonic_youtube_viewProgressBlock {
    z-index: 100000;
    position: relative;
    display: flex;
    gap: 7px;
}

.diemonic_youtube_viewProgressButtonBack {
    padding: 5px 6px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.1);
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.diemonic_youtube_viewProgressButtonBack:hover {
    background-color: rgba(255,255,255,0.2);
}

.diemonic_youtube_viewProgressButtonBackTime {
    padding: 3px;
    width: max-content;
    height: max-content;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.1);
    justify-content: space-evenly;
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* старый Edge */
    user-select: none;
}

.diemonic_youtube_viewProgressTimeTitleTip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tooltip {
    position: fixed;
    background: #151413;
    color: #fff;
    border: solid #000 1px;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 15px;
    pointer-events: none;
    z-index: 9999;
    white-space: nowrap;
    transition: opacity 0.15s;
    opacity: 0;
    box-shadow: 9px 8px 12px 2px rgb(0 0 0 / 85%);
}

.diemonic_youtube_viewProgressButtonBackTimeInner {
    background-color: #2b2827;
    display: flex;
    align-content: center;
    padding: 5px 6px;
    border-radius: 20px;
    position: relative;
}

.diemonic_youtube_viewProgressButton {
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    gap: 4px;
}

.diemonic_youtube_viewProgressTime {
    display: flex; 
    align-items: center; 
    gap: 4px;
    color: white;
    font-size: 15px;
    min-height: 21px;
    width: max-content;
    padding: 0 5px;
}